<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.pevika.cameraviewrecord"
    version="0.0.8">
    <name>Camera View Record</name>
    <description>Cordova plugin that allows camera interaction from HTML code. Show camera preview popup on top of the HTML.</description>
    <license>Apache 2.0</license>
    <keywords>Ionic,Cordova,Camera, Preview, Popup, Floating, Box</keywords>
    <repo>https://github.com/pevika/cordova-camera-view-record</repo>
    <issue>https://github.com/pevika/cordova-camera-view-record/issues</issue>

  <js-module src="www/cameraviewrecord.js" name="cameraviewrecord">
    <clobbers target="cordova.plugins.cameraviewrecord" />
  </js-module>

  <platform name="android">
  
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="CameraViewRecord">
        <param name="android-package" value="com.pevika.CameraViewRecord" />
        <param name="onload" value="true" />
      </feature>
    </config-file>
    
    <config-file target="AndroidManifest.xml" parent="/manifest">
	<uses-feature android:name="android.hardware.camera" android:required="true" />
	<uses-feature android:name="android.hardware.camera.autofocus" />
	<uses-permission android:name="android.permission.CAMERA" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    </config-file>
    <config-file target="AndroidManifest.xml" parent="/manifest/application">
	    <activity android:name="com.pevika.CameraActivity" android:screenOrientation="portrait" android:theme="@style/CameraPreviewTheme" />
    </config-file>
    
    <source-file src="src/android/com/pevika/CameraViewRecord.java" target-dir="src/com/pevika" />
    <source-file src="src/android/com/pevika/CameraActivity.java" target-dir="src/com/pevika" />
    <source-file src="src/android/com/pevika/camera_activity.xml" target-dir="res/layout" />
    <source-file src="src/android/com/pevika/camera_theme.xml" target-dir="res/values" />
        
  </platform>
</plugin>
